<template>
  <div>{{setPageName name}}</div>
</template>

<script lang="ts" setup>
defineOptions({
  name: '{{setPageName name}}'
})
</script>

<style scoped lang="scss" src="./{{getStyleName name}}.scss"></style>